<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Magic Notes</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/semantic.min.css" />
    <link rel="stylesheet" href="../assets/css/argon.min.css" />
    <link rel="stylesheet" href="../assets/css/index.css" />

    <!-- JS -->
    <script src="../assets/js/index.js"></script>
    <script src="../assets/js/search.js"></script>
    <script src="../assets/js/jquery.3.4.1.js"></script>
    <script src="../assets/js/argon-dashboard.js"></script>
    <script src="../assets/js/bootstrap.js"></script>
    <script src="../assets/js/argon.min.js"></script>
  </head>
  <body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="header-nav">
        <a class="navbar-brand" href="#"><b>Magic Notes</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
            </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" id="search-box" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-default my-2 my-sm-0" onclick="search();">Search</button>
            </form>
        </div>
    </nav>


    <!-- Main content -->
    <div class="alert alert-default" role="alert" id="header-heading">
        <strong>Welcome to Magic Notes</strong>
    </div>

    <div class="container-fluid" id="main-container">
        <h2 id="add-heading">Add notes here:</h2>
        <form>
            <textarea class="form-control form-control-alternative" id="write-area" rows="9" placeholder="Take notes here..."></textarea>
        </form>
        
        <button class="btn btn-icon btn-3 btn-primary" type="button" id="add-button" onclick="addNote();">
            <span class="btn-inner--icon"><img src="../assets/img/right.png" alt=""></span>
            <span class="btn-inner--text">Add note</span>
        </button>
        <button class="btn btn-icon btn-3 btn-danger" type="button" id="delete-button" onclick="prompt();">
            <span class="btn-inner--icon"><img src="../assets/img/cross.png" alt=""></span>
            <span class="btn-inner--text">Delete all notes</span>
        </button>

        <hr>

        <h2 id="my-notes">My Notes - 0</h2>
        <div class="ui cards" id="cards"></div>    
    </div>

    <!-- View Modal -->
    <div id="view-modal"></div>
    <div id="delete-modal"></div>

  </body>

  <script>showNotes(); startEvent();</script>
</html>
